.skills-container {
    padding: 5% 10%;
    display: flex;
    flex-direction: column;
    text-align: left;
}
  
  
.skills-container .skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skills-container .skills .item {
    margin: 2rem;
    align-items: center;
    text-align: center;
}

.skills-container .skills img {
    height: 70px;
    display: block;
    cursor: pointer;
    margin-bottom: 10px;
}

.skills-container .skills img:hover {
    transform: scale(1.3);   
    transition-duration: 2s;
}

.skills-container .skills span {
    font-size: 12px;
}

.dark-mode .skills-container .skills span {
    color: white;
}
  

@media screen {
    @media (max-width: 768px) {
        .skills-container {
            display: block;
            padding-left: 5%;
            padding-right: 5%;
        }
    
        .skills-container .skills-grid {
            display: initial;
        }
        
        .skills-container .skills-grid .skill {
            padding-bottom: 5%;
        }
    }

    @media (max-width: 567px) {
        .skills {
            font-size: 12px;
        }
    }
}