.skills-section {
    padding: 80px 0;
}

.skills-container {
    padding: 0 20px;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 25px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.skill-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.03);

    .icon-box {
        width: 80px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 12px;
        border-radius: 16px;
        transition: inherit;

        img {
            height: 50px;
            width: 50px;
            object-fit: contain;
            filter: grayscale(20%);
            transition: all 0.4s ease;
        }
    }

    .skill-name {
        font-size: 0.9rem;
        font-weight: 600;
        color: #1e293b;
        transition: color 0.3s;
        .light-mode & { color: #1e293b; }
        .dark-mode & { color: #f8fafc; }
      
    }

    // --- MODA GÖRE TASARIM ---
    .dark-mode & {
        background: rgba(14, 21, 34);

        &:hover {
            background: rgba(80, 0, 202, 0.1);
            border-color: rgba(167, 139, 250, 0.3);
            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2), 0 0 15px rgba(80, 0, 202, 0.2);
        }
    }

    .light-mode & {
        background: #ffffff;
        border: 1px solid #f1f5f9;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.02);

        &:hover {
            border-color: #5000ca;
            box-shadow: 0 10px 25px rgba(80, 0, 202, 0.1);
        }
    }

    &:hover {
        transform: translateY(-8px);

        .icon-box img {
            transform: scale(1.15);
            filter: grayscale(0%);
        }

        .skill-name {
            color: #5000ca;

            .dark-mode & {
                color: #a78bfa;
            }
        }
    }
}

// Mobil Düzenlemeleri
@media (max-width: 768px) {
    .skills-grid {
        grid-template-columns: repeat(3, 1fr); // Mobilde 3'lü yan yana
        gap: 15px;
    }

    .skill-card .icon-box {
        width: 65px;
        height: 65px;

        img {
            height: 40px;
            width: 40px;
        }
    }
}